.navheader{
    display: flex;
}

.leftheader{
    width: 400px;
}

.rightheader{
    position: absolute;
    padding: 10pt;
    right: 200px;
}

.topnav li{
    display: inline;
    padding-right: 15pt;
}