.Itinary{
    display: flex;
    margin-top: 100px;
}

.ItemDisplayTable{
    position: relative;
    padding: 10pt;
    height: 800px;
    width: 500px;
}

.GoogleMap{
    position: absolute;
    padding-top: 10pt;
    left: 500px;
    width: 800px;
    height: 800px;
}