.place-list-box{
    padding: 10px;
    border: 2px solid rgb(204, 204, 204);
    margin-top: 10px;
    margin-left: 20px;
    height: 350px; 
    width: 99%; 
    overflow: scroll;
}

.design-btn{
    padding: 10px;
    margin-top: 20px;
    background-color: gold;
}